Repository cowaine/spring-boot-for-msa, pull requests merged in 2023-11, with the labels that each got.

#92 Feature/k irisation 8장 데이터 영속성
  ding-cook/src/main/java/com/cowaine/dingcook/chapter08/docs/README.md
  ding-cook/src/main/java/com/cowaine/dingcook/chapter08/domain/AbstractManageEntity.java
  ding-cook/src/main/java/com/cowaine/dingcook/chapter08/domain/HotelEntity.java
  ding-cook/src/main/java/com/cowaine/dingcook/chapter08/domain/HotelStatus.java
  ding-cook/src/main/java/com/cowaine/dingcook/chapter08/domain/converter/HotelStatusConverter.java
  ding-cook/src/main/java/com/cowaine/dingcook/chapter08/scheme/create_table.sql
  ding-cook/src/main/java/com/cowaine/dingcook/chapter08/scheme/tbl_sequence.sql
  ding-cook/src/main/java/com/cowaine/dingcook/chapter08/server/UserIdHolder.java
  ding-cook/src/main/resources/application.yaml
  ding-cook/src/main/resources/logback-spring.xml
Labels: chapter08

#94 [Chap8] Feature/coalong
  coalong/src/main/java/com/cowaine/coalong/chapter08/domain/AbstractManageEntity.java
  coalong/src/main/java/com/cowaine/coalong/chapter08/domain/HotelEntity.java
  coalong/src/main/java/com/cowaine/coalong/chapter08/domain/HotelStatus.java
  coalong/src/main/java/com/cowaine/coalong/chapter08/domain/converter/HotelStatusConverter.java
  coalong/src/main/java/com/cowaine/coalong/chapter08/repository/HotelRepository.java
  coalong/src/main/java/com/cowaine/coalong/chapter08/scheme/create_tables.sql
  coalong/src/main/java/com/cowaine/coalong/chapter08/scripts/start_mysql.sh
  coalong/src/main/java/com/cowaine/coalong/chapter08/server/UserIdHolder.java
  coalong/src/main/resources/application.yaml
Labels: chapter08

#100 [ Chapter 08 ] Feature/youngju jang
  youngju-jang/build.gradle
  youngju-jang/src/main/java/com/cowaine/youngjujang/ch7/config/ThreadPoolConfig.java
  youngju-jang/src/main/java/com/cowaine/youngjujang/ch8/JYJApplication.java
  youngju-jang/src/main/java/com/cowaine/youngjujang/ch8/controller/HotelCreateRequest.java
  youngju-jang/src/main/java/com/cowaine/youngjujang/ch8/controller/HotelCreateResponse.java
  youngju-jang/src/main/java/com/cowaine/youngjujang/ch8/create_table.sql
  youngju-jang/src/main/java/com/cowaine/youngjujang/ch8/domain/AbstractManageEntity.java
  youngju-jang/src/main/java/com/cowaine/youngjujang/ch8/domain/HotelEntity.java
  youngju-jang/src/main/java/com/cowaine/youngjujang/ch8/domain/HotelStatus.java
  youngju-jang/src/main/java/com/cowaine/youngjujang/ch8/domain/ReservationEntity.java
  youngju-jang/src/main/java/com/cowaine/youngjujang/ch8/domain/converter/HotelStatusConverter.java
  youngju-jang/src/main/java/com/cowaine/youngjujang/ch8/etc
  youngju-jang/src/main/java/com/cowaine/youngjujang/ch8/isolation.txt
  youngju-jang/src/main/java/com/cowaine/youngjujang/ch8/repository/HotelRepository.java
  youngju-jang/src/main/java/com/cowaine/youngjujang/ch8/server/UserIdHoder.java
  youngju-jang/src/main/java/com/cowaine/youngjujang/ch8/service/HotelService.java
  youngju-jang/src/main/resources/application.yaml
  youngju-jang/src/test/java/com/cowaine/youngjujang/ch8/repository/HotelRepositoryTest00.java
  youngju-jang/src/test/java/com/cowaine/youngjujang/ch8/repository/HotelRepositoryTest01.java
  youngju-jang/src/test/java/com/cowaine/youngjujang/ch8/service/HotelServiceTest.java
  youngju-jang/src/test/resources/application-test-h2.yaml
  youngju-jang/src/test/resources/application-test.yaml
Labels: chapter08

#104 [Feat] 8.4 ~ 8.8 코드 예제
  crupy/src/main/java/com/cowaine/crupy/part8/domain/AbstractManageEntity.java
  crupy/src/main/java/com/cowaine/crupy/part8/domain/HotelEntity.java
  crupy/src/main/java/com/cowaine/crupy/part8/domain/HotelRoomEntity.java
  crupy/src/main/java/com/cowaine/crupy/part8/domain/HotelRoomType.java
  crupy/src/main/java/com/cowaine/crupy/part8/dto/HotelCreateRequest.java
  crupy/src/main/java/com/cowaine/crupy/part8/dto/HotelCreateResponse.java
  crupy/src/main/java/com/cowaine/crupy/part8/repository/HotelRepository.java
  crupy/src/main/java/com/cowaine/crupy/part8/service/HotelService.java
  crupy/src/main/resources/application-test.yaml
  crupy/src/test/java/com/cowaine/crupy/part8/repository/HotelRepositoryTest00.java
  crupy/src/test/java/com/cowaine/crupy/part8/repository/HotelRepositoryTest01.java
  crupy/src/test/resources/application-test-h2.yaml
  crupy/src/test/resources/application-test.yaml
Labels: chapter08

#105 08 데이터 영속성
  .idea/vcs.xml
  joisfe/.gitignore
  joisfe/gradlew
  joisfe/src/main/java/com/cowaine/joisfe/part8/domain/HotelEntity.java
  joisfe/src/main/java/com/cowaine/joisfe/part8/dto/HotelCreateRequestDto.java
  joisfe/src/main/java/com/cowaine/joisfe/part8/dto/HotelCreateResponseDto.java
  joisfe/src/main/java/com/cowaine/joisfe/part8/dto/HotelResponseDto.java
  joisfe/src/main/java/com/cowaine/joisfe/part8/repository/HotelRepository.java
  joisfe/src/main/java/com/cowaine/joisfe/part8/service/HotelService.java
  joisfe/src/main/resources/application.yaml
  joisfe/src/test/java/com/cowaine/joisfe/part8/repository/HotelRepositoryTest00.java
  joisfe/src/test/java/com/cowaine/joisfe/part8/repository/HotelRepositoryTest01.java
  joisfe/src/test/java/com/cowaine/joisfe/part8/repository/HotelRepositoryTest02.java
  joisfe/src/test/java/com/cowaine/joisfe/part8/service/HotelServiceTest.java
  joisfe/src/test/resources/application-test-h2.properties
  joisfe/src/test/resources/application-test.properties
Labels: chapter08

#106 Feature/corock
  corock/src/main/java/com/cowaine/corock/chapter08/controller/HotelCreateRequest.java
  corock/src/main/java/com/cowaine/corock/chapter08/controller/HotelCreateResponse.java
  corock/src/main/java/com/cowaine/corock/chapter08/domain/HotelEntity.java
  corock/src/main/java/com/cowaine/corock/chapter08/domain/HotelReservationService.java
  corock/src/main/java/com/cowaine/corock/chapter08/domain/HotelRoomEntity.java
  corock/src/main/java/com/cowaine/corock/chapter08/domain/HotelStatusConverter.java
  corock/src/main/java/com/cowaine/corock/chapter08/domain/ReserveRoomResponse.java
  corock/src/main/java/com/cowaine/corock/chapter08/domain/RoomReserveService.java
  corock/src/main/java/com/cowaine/corock/chapter08/repository/HotelRepository.java
  corock/src/main/java/com/cowaine/corock/chapter08/service/HotelService.java
  corock/src/test/java/com/cowaine/corock/chapter08/repository/HotelRepositoryTest.java
  corock/src/test/resources/application-test-h2.yaml
  corock/src/test/resources/application-test.yaml
Labels: chapter08

#111 Feature/coalong
  .gitignore
  coalong/src/main/java/com/cowaine/coalong/chapter08/domain/AbstractManageEntity.java
  coalong/src/main/java/com/cowaine/coalong/chapter08/domain/HotelEntity.java
  coalong/src/main/java/com/cowaine/coalong/chapter08/repository/HotelRepository.java
  coalong/src/test/java/com/cowaine/coalong/chapter08/HotelRepositoryTest00.java
  coalong/src/test/java/com/cowaine/coalong/chapter08/HotelRepositoryTest01.java
  coalong/src/test/java/com/cowaine/coalong/chapter08/HotelRepositoryTest02.java
  coalong/src/test/resources/application-test.yaml
  coalong/src/test/resources/application.yaml
Labels: chapter08

#117 [Chapter 8] JPA EntityManager Else ..
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter8/WebConfig.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter8/api/HotelController.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter8/repository/HotelRepository.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter8/repository/HotelRoomRepository.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter8/server/UserIdInterceptor.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter8/service/HotelService.java
Labels: chapter08

#120 [Feat] Chapter8.8 ~ Chapter8.11
  crupy/src/main/java/com/cowaine/crupy/part8/domain/HotelEntity.java
  crupy/src/main/java/com/cowaine/crupy/part8/domain/HotelRoomEntity.java
  crupy/src/main/java/com/cowaine/crupy/part8/dto/HotelResponse.java
  crupy/src/main/java/com/cowaine/crupy/part8/repository/HotelRoomRepository.java
  crupy/src/main/java/com/cowaine/crupy/part8/service/HotelAuditListener.java
  crupy/src/main/java/com/cowaine/crupy/part8/service/HotelService.java
  crupy/src/test/java/com/cowaine/crupy/part8/service/HotelServiceTest.java
Labels: chapter08

#124 [Chapter 08] Feature/youngju jang
  youngju-jang/src/main/java/com/cowaine/youngjujang/ch8/8.9 엔티티 관계설정
  youngju-jang/src/main/java/com/cowaine/youngjujang/ch8/domain/HotelEntity.java
  youngju-jang/src/main/java/com/cowaine/youngjujang/ch8/domain/HotelRoomEntity.java
  youngju-jang/src/main/java/com/cowaine/youngjujang/ch8/repository/HotelRoomRepository.java
  youngju-jang/src/main/java/com/cowaine/youngjujang/ch8/service/HotelService.java
  youngju-jang/src/test/java/com/cowaine/youngjujang/ch8/service/HotelServiceTest.java
Labels: chapter08

#125 08. 데이터 영속성
  .idea/vcs.xml
  joisfe/src/main/java/com/cowaine/joisfe/part7/repository/HotelRoomRepository.java
  joisfe/src/main/java/com/cowaine/joisfe/part7/service/HotelRoomDisplayService.java
  joisfe/src/main/java/com/cowaine/joisfe/part8/converter/HotelRoomTypeConverter.java
  joisfe/src/main/java/com/cowaine/joisfe/part8/domain/HotelEntity.java
  joisfe/src/main/java/com/cowaine/joisfe/part8/domain/HotelRoomEntity.java
  joisfe/src/main/java/com/cowaine/joisfe/part8/repository/HotelRoomRepository.java
  joisfe/src/main/java/com/cowaine/joisfe/part8/service/HotelService.java
  joisfe/src/test/java/com/cowaine/joisfe/part8/service/HotelServiceTest.java
Labels: chapter08

#126 Feature/corock
  corock/src/main/java/com/cowaine/corock/chapter03/advanced/SystemConfig2.java
  corock/src/main/java/com/cowaine/corock/chapter06/controller/ApiExceptionHandler.java
  corock/src/main/java/com/cowaine/corock/chapter06/controller/converter/HotelRoomTypeConverter.java
  corock/src/main/java/com/cowaine/corock/chapter06/domain/PropertiesComponent.java
  corock/src/main/java/com/cowaine/corock/chapter07/service/HotelDisplayService.java
  corock/src/main/java/com/cowaine/corock/chapter07/service/HotelRoomDisplayService.java
  corock/src/main/java/com/cowaine/corock/chapter08/domain/HotelEntity.java
  corock/src/main/java/com/cowaine/corock/chapter08/domain/HotelRoomEntity.java
  corock/src/main/java/com/cowaine/corock/chapter08/domain/HotelRoomType.java
  corock/src/main/java/com/cowaine/corock/chapter08/domain/ParkingLotEntity.java
  corock/src/main/java/com/cowaine/corock/chapter08/domain/PaymentEntity.java
  corock/src/main/java/com/cowaine/corock/chapter08/domain/ReservationEntity.java
  corock/src/main/java/com/cowaine/corock/chapter08/domain/converter/HotelRoomTypeConverter.java
  corock/src/main/java/com/cowaine/corock/chapter08/service/HotelAuditListener.java
  corock/src/main/java/com/cowaine/corock/chapter08/service/HotelService.java
  corock/src/test/java/com/cowaine/corock/chapter07/config/TestConfig.java
  corock/src/test/java/com/cowaine/corock/chapter07/controller/HotelControllerSpringBootTest.java
  corock/src/test/java/com/cowaine/corock/chapter07/controller/HotelControllerWebMvcTest.java
  corock/src/test/java/com/cowaine/corock/chapter07/service/HotelDisplayServiceSpringBootTest.java
  corock/src/test/java/com/cowaine/corock/chapter08/repository/HotelRepositoryTest.java
  corock/src/test/java/com/cowaine/corock/chapter08/service/HotelServiceTest.java
Labels: chapter08

#129 feat: 챕터 8.8 ~. 8.11 코드 소급적용
  ding-cook/src/main/java/com/cowaine/dingcook/chapter08/config/WebConfig.java
  ding-cook/src/main/java/com/cowaine/dingcook/chapter08/domain/HotelEntity.java
  ding-cook/src/main/java/com/cowaine/dingcook/chapter08/domain/HotelRoomEntity.java
  ding-cook/src/main/java/com/cowaine/dingcook/chapter08/server/UserIdInterceptor.java
  ding-cook/src/main/java/com/cowaine/dingcook/chapter08/service/HotelEntityListener.java
  ding-cook/src/main/java/com/cowaine/dingcook/chapter08/service/HotelService.java
Labels: chapter08

#134 Feature/crupy
  crupy/build.gradle
  crupy/src/main/java/com/cowaine/crupy/part9/Chapter09WebApplication.java
  crupy/src/main/java/com/cowaine/crupy/part9/adapter/BillingAdapter.java
  crupy/src/main/java/com/cowaine/crupy/part9/adapter/WebClientBillingAdapter.java
  crupy/src/main/java/com/cowaine/crupy/part9/config/PoolingRestTemplateConfig.java
  crupy/src/main/java/com/cowaine/crupy/part9/config/RestTemplateConfig.java
  crupy/src/main/java/com/cowaine/crupy/part9/config/WebClientConfig.java
  crupy/src/main/java/com/cowaine/crupy/part9/controller/ApiResponse.java
  crupy/src/main/java/com/cowaine/crupy/part9/controller/BillingCodeResponse.java
  crupy/src/main/java/com/cowaine/crupy/part9/controller/CreateCodeRequest.java
  crupy/src/main/java/com/cowaine/crupy/part9/controller/CreateCodeResponse.java
  crupy/src/main/java/com/cowaine/crupy/part9/server/IdentityHeaderInterceptor.java
Labels: chapter09

#135 09 애플리케이션 통합: REST-API
  joisfe/build.gradle
  joisfe/src/main/java/com/cowaine/joisfe/JoisfeApplication.java
  joisfe/src/main/java/com/cowaine/joisfe/part9/adapter/BillingAdapter.java
  joisfe/src/main/java/com/cowaine/joisfe/part9/adapter/PoolingBillingAdapter.java
  joisfe/src/main/java/com/cowaine/joisfe/part9/adapter/WebClientBillingAdapter.java
  joisfe/src/main/java/com/cowaine/joisfe/part9/config/IdentityHeaderInterceptor.java
  joisfe/src/main/java/com/cowaine/joisfe/part9/config/RestTemplateConfig.java
  joisfe/src/main/java/com/cowaine/joisfe/part9/config/WebClientConfig.java
  joisfe/src/main/java/com/cowaine/joisfe/part9/controller/BillingCodeController.java
  joisfe/src/main/java/com/cowaine/joisfe/part9/dto/ApiResponse.java
  joisfe/src/main/java/com/cowaine/joisfe/part9/dto/BillingCodeResponse.java
  joisfe/src/main/java/com/cowaine/joisfe/part9/dto/CreateCodeRequest.java
  joisfe/src/main/java/com/cowaine/joisfe/part9/dto/CreateCodeResponse.java
  joisfe/src/test/java/com/cowaine/joisfe/part9/UriComponentsBuilderTest.java
Labels: chapter09

#138 [Chapter 09] REST TEMPLATE AND WEB CLIENT EXAMPLE
  ahngilwoong/build.gradle
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/AhngilwoongApplication.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter9/adapter/BillingAdapter.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter9/adapter/PoolingBillingAdapter.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter9/adapter/WebClientBillingAdapter.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter9/api/BillingCodeApi.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter9/config/PoolingRestTemplateConfig.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter9/config/RestTemplateConfig.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter9/config/WebClientConfig.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter9/http/PostGilWoongMan.http
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter9/model/ApiResponse.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter9/model/BillingCodeResponse.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter9/model/CreateCodeRequest.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter9/model/CreateCodeResponse.java
Labels: chapter09

#141 Feature/coalong
  .gitignore
  coalong/build.gradle
  coalong/src/main/java/com/cowaine/coalong/chapter09/Chapter09WebApplication.java
  coalong/src/main/java/com/cowaine/coalong/chapter09/adapter/BillingAdapter.java
  coalong/src/main/java/com/cowaine/coalong/chapter09/adapter/PoolingBillingAdapter.java
  coalong/src/main/java/com/cowaine/coalong/chapter09/adapter/WebClientBillingAdapter.java
  coalong/src/main/java/com/cowaine/coalong/chapter09/config/PoolingRestTemplateConfig.java
  coalong/src/main/java/com/cowaine/coalong/chapter09/config/RestTemplateConfig.java
  coalong/src/main/java/com/cowaine/coalong/chapter09/config/WebClientConfig.java
  coalong/src/main/java/com/cowaine/coalong/chapter09/controller/ApiResponse.java
  coalong/src/main/java/com/cowaine/coalong/chapter09/controller/BillingCodeController.java
  coalong/src/main/java/com/cowaine/coalong/chapter09/controller/BillingCodeResponse.java
  coalong/src/main/java/com/cowaine/coalong/chapter09/controller/CreateCodeRequest.java
  coalong/src/main/java/com/cowaine/coalong/chapter09/controller/CreateCodeResponse.java
  coalong/src/main/java/com/cowaine/coalong/chapter09/http/BillingCodeController.http
  coalong/src/main/java/com/cowaine/coalong/chapter09/server/IdentityHeaderInterceptor.java
  coalong/src/test/java/com/cowaine/coalong/chapter09/UriComponentsBuilderTest.java
Labels: chapter09

#150 10 레디스와 스프링 캐시
  joisfe/build.gradle
  joisfe/src/main/java/com/cowaine/joisfe/part10/adapter/CacheAdapter.java
  joisfe/src/main/java/com/cowaine/joisfe/part10/adapter/RedisAdapter.java
  joisfe/src/main/java/com/cowaine/joisfe/part10/config/RedisAutoConfiguration.java
  joisfe/src/main/java/com/cowaine/joisfe/part10/config/cache/CacheConfig.java
  joisfe/src/main/java/com/cowaine/joisfe/part10/config/cache/HotelCacheKey.java
  joisfe/src/main/java/com/cowaine/joisfe/part10/config/cache/HotelCacheKeySerializer.java
  joisfe/src/main/java/com/cowaine/joisfe/part10/config/cache/HotelCacheValue.java
  joisfe/src/main/java/com/cowaine/joisfe/part10/config/cache/HotelCacheValueSerializer.java
  joisfe/src/main/resources/application.yaml
  joisfe/src/test/java/com/cowaine/joisfe/part10/adapter/CacheAdapterTest.java
Labels: chapter10

#152 Feature/corock
  corock/build.gradle
  corock/src/main/java/com/cowaine/corock/CorockApplication.java
  corock/src/main/java/com/cowaine/corock/chapter09/adaptor/WebClientBillingAdaptor.java
  corock/src/main/java/com/cowaine/corock/chapter09/config/RestTemplateConfig.java
  corock/src/main/java/com/cowaine/corock/chapter09/config/WebClientConfig.java
  corock/src/main/java/com/cowaine/corock/chapter10/adaptor/cache/CacheAdaptor.java
  corock/src/main/java/com/cowaine/corock/chapter10/adaptor/cache/HotelCacheKey.java
  corock/src/main/java/com/cowaine/corock/chapter10/adaptor/cache/HotelCacheKeySerializer.java
  corock/src/main/java/com/cowaine/corock/chapter10/adaptor/cache/HotelCacheValue.java
  corock/src/main/java/com/cowaine/corock/chapter10/adaptor/cache/HotelCacheValueSerializer.java
  corock/src/main/java/com/cowaine/corock/chapter10/config/CacheConfig.java
  corock/src/main/java/com/cowaine/corock/chapter10/config/HashCacheConfig.java
  corock/src/main/resources/application.yaml
  corock/src/test/java/com/cowaine/corock/chapter10/adaptor/cache/CacheAdaptorTest.java
Labels: chapter10

#159 Feature/coalong
  coalong/build.gradle
  coalong/src/main/java/com/cowaine/coalong/chapter10/adapter/CacheAdapter.java
  coalong/src/main/java/com/cowaine/coalong/chapter10/cache/HotelCacheKey.java
  coalong/src/main/java/com/cowaine/coalong/chapter10/cache/HotelCacheKeySerializer.java
  coalong/src/main/java/com/cowaine/coalong/chapter10/cache/HotelCacheValue.java
  coalong/src/main/java/com/cowaine/coalong/chapter10/cache/HotelCacheValueSerializer.java
  coalong/src/main/java/com/cowaine/coalong/chapter10/config/CacheConfig.java
  coalong/src/main/java/com/cowaine/coalong/chapter10/config/RedisAdapter.java
  coalong/src/main/java/com/cowaine/coalong/chapter10/scripts/start_redis.sh
  coalong/src/main/resources/application.yaml
  coalong/src/test/java/com/cowaine/coalong/chapter10/CacheAdapterTest.java
Labels: chapter10
