Repository cowaine/spring-boot-for-msa, pull requests merged in 2023-12, with the labels that each got.

#168 [Chapter 10] Redis And Cash
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/AhngilwoongApplication.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/adapter/cache/CacheAdapter.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/adapter/cache/HotelCacheKey.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/adapter/cache/HotelCacheKeySerializer.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/adapter/cache/HotelCacheValue.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/adapter/cache/HotelCacheValueSerializer.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/adapter/event/EventListener.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/adapter/event/EventMessage.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/adapter/event/EventPublisher.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/adapter/lock/LockAdapter.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/adapter/lock/LockKey.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/adapter/lock/LockKeySerializer.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/adapter/rank/BiddingAdapter.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/config/BasicCacheConfig.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/config/BiddingConfig.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/config/CacheConfig.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/config/EventConfig.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/config/HashCacheConfig.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/config/LockConfig.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/model/HotelKeyGenerator.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/model/HotelRequest.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/model/HotelResponse.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/service/HotelService.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter8/api/HotelController.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter8/service/HotelService1.java
Labels: chapter10

#171 [chap10] 10.5 레디스 분산 락 사용 예제 추가
  coalong/src/main/java/com/cowaine/coalong/chapter10/adapter/lock/LockAdapter.java
  coalong/src/main/java/com/cowaine/coalong/chapter10/adapter/lock/LockKey.java
Labels: chapter10

#172 Feature/corock
  corock/src/main/java/com/cowaine/corock/chapter07/dto/HotelRequest.java
  corock/src/main/java/com/cowaine/corock/chapter10/adaptor/event/EventListener.java
  corock/src/main/java/com/cowaine/corock/chapter10/adaptor/event/EventMessage.java
  corock/src/main/java/com/cowaine/corock/chapter10/adaptor/event/EventPublisher.java
  corock/src/main/java/com/cowaine/corock/chapter10/adaptor/lock/LockAdaptor.java
  corock/src/main/java/com/cowaine/corock/chapter10/adaptor/lock/LockKey.java
  corock/src/main/java/com/cowaine/corock/chapter10/adaptor/lock/LockKeySerializer.java
  corock/src/main/java/com/cowaine/corock/chapter10/adaptor/rank/BiddingAdaptor.java
  corock/src/main/java/com/cowaine/corock/chapter10/config/BasicCacheConfig.java
  corock/src/main/java/com/cowaine/corock/chapter10/config/BiddingConfig.java
  corock/src/main/java/com/cowaine/corock/chapter10/config/EventConfig.java
  corock/src/main/java/com/cowaine/corock/chapter10/config/LockConfig.java
  corock/src/main/java/com/cowaine/corock/chapter10/service/HotelKeyGenerator.java
  corock/src/main/java/com/cowaine/corock/chapter10/service/HotelRequest.java
  corock/src/main/java/com/cowaine/corock/chapter10/service/HotelResponse.java
  corock/src/main/java/com/cowaine/corock/chapter10/service/HotelService.java
  corock/src/test/java/com/cowaine/corock/chapter10/adaptor/event/EventTest.java
  corock/src/test/java/com/cowaine/corock/chapter10/adaptor/lock/LockAdaptorTest.java
  corock/src/test/java/com/cowaine/corock/chapter10/adaptor/rank/BiddingAdaptorTest.java
  corock/src/test/java/com/cowaine/corock/chapter10/service/HotelServiceTest.java
Labels: chapter10

#176 [Feat] chapter11 코드
  .idea/.name
  crupy/src/main/java/com/cowaine/crupy/part11/config/SchedulingConfig.java
  crupy/src/main/java/com/cowaine/crupy/part11/schedule/ScheduledTask.java
Labels: chapter11

#177 Feature/corock
  corock/src/main/java/com/cowaine/corock/chapter07/dto/HotelRequest.java
  corock/src/main/java/com/cowaine/corock/chapter08/service/HotelService.java
  corock/src/main/java/com/cowaine/corock/chapter11/config/SchedulingConfig.java
  corock/src/main/java/com/cowaine/corock/chapter11/schedule/ScheduledTask.java
  corock/src/test/java/com/cowaine/corock/chapter08/service/HotelServiceTest.java
  corock/src/test/java/com/cowaine/corock/chapter11/CronExpressionTest.java
Labels: chapter11

#179 11 스프링 스케줄링 태스크
  joisfe/src/main/java/com/cowaine/joisfe/part11/ScheduledTask.java
  joisfe/src/main/java/com/cowaine/joisfe/part11/config/SchedulingConfig.java
  joisfe/src/test/java/com/cowaine/joisfe/part11/CronExpressionTest.java
Labels: chapter11

#183 [Chapter 11]
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/adapter/cache/CacheAdapter.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/adapter/cache/HotelCacheKey.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/adapter/cache/HotelCacheKeySerializer.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/adapter/cache/HotelCacheValue.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/adapter/cache/HotelCacheValueSerializer.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/adapter/event/EventListener.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/adapter/event/EventMessage.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/adapter/event/EventPublisher.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/adapter/lock/LockAdapter.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/adapter/lock/LockKey.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/adapter/lock/LockKeySerializer.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/adapter/rank/BiddingAdapter.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/config/BasicCacheConfig.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/config/BiddingConfig.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/config/CacheConfig.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/config/EventConfig.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/config/HashCacheConfig.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/config/LockConfig.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/model/HotelKeyGenerator.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/model/HotelRequest.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/model/HotelResponse.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter10/service/HotelService.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter11/ScheduledTask.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter11/SchedulingConfig.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter8/domain/HotelEntity.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter8/model/HotelCreateRequest.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter8/model/HotelResponse.java
Labels: chapter11

#185 Feature/coalong
  coalong/src/main/java/com/cowaine/coalong/chapter10/adapter/lock/LockKeySerializer.java
  coalong/src/main/java/com/cowaine/coalong/chapter11/config/SchedulingConfig.java
  coalong/src/main/java/com/cowaine/coalong/chapter11/schedule/ScheduledTask.java
  coalong/src/test/java/com/cowaine/coalong/chapter11/CronExpressionTest.java
Labels: chapter11

#187 [Feat] Chapter12 예제코드 및 설정파일 수정
  crupy/build.gradle
  crupy/src/main/java/com/cowaine/crupy/part12/config/AsyncEventConfig.java
  crupy/src/main/java/com/cowaine/crupy/part12/config/AsyncExecutionConfig.java
  crupy/src/main/java/com/cowaine/crupy/part12/event/hotel/HotelCreateEvent.java
  crupy/src/main/java/com/cowaine/crupy/part12/event/hotel/HotelEventListener.java
  crupy/src/main/java/com/cowaine/crupy/part12/event/server/ApplicationEventListener.java
  crupy/src/main/java/com/cowaine/crupy/part12/event/user/UserEvent.java
  crupy/src/main/java/com/cowaine/crupy/part12/event/user/UserEventListener.java
  crupy/src/main/java/com/cowaine/crupy/part12/event/user/UserEventPublisher.java
  crupy/src/main/java/com/cowaine/crupy/part12/service/EventService.java
  crupy/src/main/java/com/cowaine/crupy/part12/service/PropagationService.java
Labels: chapter12

#189 12. 스프링 이벤트
  .idea/.name
  .idea/ChatGPTCopilotChannelManager.xml
  joisfe/src/main/java/com/cowaine/joisfe/JoisfeApplication.java
  joisfe/src/main/java/com/cowaine/joisfe/part10/service/EventService.java
  joisfe/src/main/java/com/cowaine/joisfe/part12/config/AsyncEventConfig.java
  joisfe/src/main/java/com/cowaine/joisfe/part12/config/AsyncExecutionConfig.java
  joisfe/src/main/java/com/cowaine/joisfe/part12/event/hotel/HotelCreateEvent.java
  joisfe/src/main/java/com/cowaine/joisfe/part12/event/hotel/HotelEventListener.java
  joisfe/src/main/java/com/cowaine/joisfe/part12/event/hotel/HotelEventPublisher.java
  joisfe/src/main/java/com/cowaine/joisfe/part12/event/server/ApplicationEventListener.java
  joisfe/src/main/java/com/cowaine/joisfe/part12/event/user/UserEvent.java
  joisfe/src/main/java/com/cowaine/joisfe/part12/event/user/UserEventListener.java
  joisfe/src/main/java/com/cowaine/joisfe/part12/event/user/UserEventPublisher.java
  joisfe/src/main/java/com/cowaine/joisfe/part12/service/EventService.java
  joisfe/src/main/java/com/cowaine/joisfe/part12/service/HotelService.java
  joisfe/src/main/java/com/cowaine/joisfe/part12/service/PropagationService.java
  joisfe/src/main/java/com/cowaine/joisfe/part12/service/UserService.java
  joisfe/src/main/java/com/cowaine/joisfe/part8/service/HotelService.java
Labels: chapter12

#198 ch12 안길웅
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter12/Chapter12SyncApplication.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter12/config/AsyncEventConfig.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter12/config/AsyncExecutionConfig.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter12/event/HotelCreateEvent.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter12/event/HotelEventListener.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter12/event/HotelEventPublisher.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter12/server/ApplicationEventListener.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter12/service/EventService.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter12/service/PropagationService.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter12/service/UserService.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter12/user/UserEvent.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter12/user/UserEventListener.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter12/user/UserEventPublisher.java
Labels: chapter12
