Repository cowaine/spring-boot-for-msa, pull requests merged in 2023-10, with the labels that each got.

#56 Feature/corock
  corock/src/main/java/com/cowaine/corock/CorockApplication.java
  corock/src/main/java/com/cowaine/corock/chapter05/HotelRoomController.java
  corock/src/main/java/com/cowaine/corock/chapter06/config/WebConfig.java
  corock/src/main/java/com/cowaine/corock/chapter06/controller/ApiExceptionHandler.java
  corock/src/main/java/com/cowaine/corock/chapter06/controller/ClientInfo.java
  corock/src/main/java/com/cowaine/corock/chapter06/controller/EmailController.java
  corock/src/main/java/com/cowaine/corock/chapter06/controller/ErrorController.java
  corock/src/main/java/com/cowaine/corock/chapter06/controller/converter/HotelRoomNumberConverter.java
  corock/src/main/java/com/cowaine/corock/chapter06/controller/converter/HotelRoomTypeConverter.java
  corock/src/main/java/com/cowaine/corock/chapter06/controller/formatter/HotelRoomNumberFormatter.java
  corock/src/main/java/com/cowaine/corock/chapter06/controller/resolver/ClientInfoArgumentResolver.java
  corock/src/main/java/com/cowaine/corock/chapter06/domain/HotelRoomNumber.java
  corock/src/main/java/com/cowaine/corock/chapter06/domain/KafkaProperties.java
  corock/src/main/java/com/cowaine/corock/chapter06/domain/PropertiesComponent.java
  corock/src/main/java/com/cowaine/corock/chapter06/domain/email/AwsEmailService.java
  corock/src/main/java/com/cowaine/corock/chapter06/domain/email/DummyEmailService.java
  corock/src/main/java/com/cowaine/corock/chapter06/domain/email/EmailAddress.java
  corock/src/main/java/com/cowaine/corock/chapter06/domain/email/EmailService.java
  corock/src/main/java/com/cowaine/corock/chapter06/filter/LoggingFilter.java
  corock/src/main/java/com/cowaine/corock/chapter06/profile/MailSender.java
  corock/src/main/java/com/cowaine/corock/chapter06/profile/TestEnvConfig.java
  corock/src/main/resources/application-development.yaml
  corock/src/main/resources/application-local.yaml
  corock/src/main/resources/application-production.yaml
  corock/src/main/resources/application-staging.yaml
  corock/src/main/resources/application.yaml
  corock/src/main/resources/errors/error-message.properties
  corock/src/main/resources/errors/error-message_en.properties
  corock/src/main/resources/errors/error-message_ko.properties
  corock/src/main/resources/logback-spring.xml
  corock/src/main/resources/messages/message.properties
  corock/src/main/resources/messages/message_en.properties
  corock/src/main/resources/messages/message_ko.properties
  corock/start.sh
  docker_build.sh
  docker_start.sh
  dockerfile
Labels: chapter06

#63 Feature/coalong
  coalong/src/main/java/com/cowaine/coalong/CoalongApplication.java
  coalong/src/main/java/com/cowaine/coalong/chapter03/CircularApplication.java
  coalong/src/main/java/com/cowaine/coalong/chapter03/service/CircularReference.java
  coalong/src/main/java/com/cowaine/coalong/chapter03/service/CircularService.java
  coalong/src/main/java/com/cowaine/coalong/chapter07/aspect/SimpleLoggingAspect.java
  coalong/src/main/java/com/cowaine/coalong/chapter07/controller/HotelController.java
  coalong/src/main/java/com/cowaine/coalong/chapter07/dto/HotelRequest.java
  coalong/src/main/java/com/cowaine/coalong/chapter07/dto/HotelResponse.java
  coalong/src/main/java/com/cowaine/coalong/chapter07/service/DisplayService.java
  coalong/src/main/java/com/cowaine/coalong/chapter07/service/HotelDisplayService.java
Labels: chapter07

#64 Feature/chap7 ding cook
  ding-cook/src/main/java/com/cowaine/dingcook/chapter03/ex05/DateFormatter.java
  ding-cook/src/main/java/com/cowaine/dingcook/chapter05/domain/hotelroom/service/ReserveService.java
  ding-cook/src/main/java/com/cowaine/dingcook/chapter07/Chapter07Application.java
  ding-cook/src/main/java/com/cowaine/dingcook/chapter07/aspect/ArgumentLoggingAspect.java
  ding-cook/src/main/java/com/cowaine/dingcook/chapter07/aspect/ElapseLoggable.java
  ding-cook/src/main/java/com/cowaine/dingcook/chapter07/aspect/ElapseLoggingAspect.java
  ding-cook/src/main/java/com/cowaine/dingcook/chapter07/aspect/LoggingAspect.java
  ding-cook/src/main/java/com/cowaine/dingcook/chapter07/aspect/ReturnValueLoggingAspect.java
  ding-cook/src/main/java/com/cowaine/dingcook/chapter07/config/ThreadPoolConfig.java
  ding-cook/src/main/java/com/cowaine/dingcook/chapter07/controller/HotelController.java
  ding-cook/src/main/java/com/cowaine/dingcook/chapter07/controller/HotelRequest.java
  ding-cook/src/main/java/com/cowaine/dingcook/chapter07/controller/HotelResponse.java
  ding-cook/src/main/java/com/cowaine/dingcook/chapter07/controller/HotelRoomResponse.java
  ding-cook/src/main/java/com/cowaine/dingcook/chapter07/docs/README.md
  ding-cook/src/main/java/com/cowaine/dingcook/chapter07/domain/HotelRoomEntity.java
  ding-cook/src/main/java/com/cowaine/dingcook/chapter07/repository/HotelRoomRepository.java
  ding-cook/src/main/java/com/cowaine/dingcook/chapter07/service/DisplayService.java
  ding-cook/src/main/java/com/cowaine/dingcook/chapter07/service/HotelDisplayService.java
  ding-cook/src/main/java/com/cowaine/dingcook/chapter07/service/HotelRoomDisplayService.java
  ding-cook/src/main/java/com/cowaine/dingcook/chapter07/util/JsonUtil.java
  ding-cook/src/main/resources/application-test.properties
  ding-cook/src/test/java/com/cowaine/dingcook/chapter07/MiscTest.java
  ding-cook/src/test/java/com/cowaine/dingcook/chapter07/PropertiesSpringBootApplicationTest.java
  ding-cook/src/test/java/com/cowaine/dingcook/chapter07/PropertiesSpringBootTestKeyValue.java
  ding-cook/src/test/java/com/cowaine/dingcook/chapter07/config/ThreadPoolTestConfig.java
  ding-cook/src/test/java/com/cowaine/dingcook/chapter07/controller/ApiControllerTest01.java
  ding-cook/src/test/java/com/cowaine/dingcook/chapter07/controller/ApiControllerTest02.java
  ding-cook/src/test/java/com/cowaine/dingcook/chapter07/service/HotelDisplayServiceTest.java
  ding-cook/src/test/java/com/cowaine/dingcook/chapter07/service/HotelRoomDisplayServiceTest01.java
  ding-cook/src/test/java/com/cowaine/dingcook/chapter07/service/HotelRoomDisplayServiceTest02.java
Labels: chapter07

#70 06 웹 애플리케이션 서버 구축하기, 07 스프링 AOP와 테스트, 자동 설정 원리
  joisfe/src/main/java/com/cowaine/joisfe/part5/controller/HotelController.java
  joisfe/src/main/java/com/cowaine/joisfe/part6/ClientInfo.java
  joisfe/src/main/java/com/cowaine/joisfe/part6/config/WebServerConfig.java
  joisfe/src/main/java/com/cowaine/joisfe/part6/converter/HotelRoomNumberConverter.java
  joisfe/src/main/java/com/cowaine/joisfe/part6/domain/HotelRoomNumber.java
  joisfe/src/main/java/com/cowaine/joisfe/part6/resolver/ClientInfoArgumentResolver.java
  joisfe/src/main/java/com/cowaine/joisfe/part7/aspect/ArgumentLoggingAspect.java
  joisfe/src/main/java/com/cowaine/joisfe/part7/aspect/ElapseLoggable.java
  joisfe/src/main/java/com/cowaine/joisfe/part7/aspect/ElapseLoggingAspect.java
  joisfe/src/main/java/com/cowaine/joisfe/part7/aspect/ReturnValueLoggingAspect.java
  joisfe/src/main/java/com/cowaine/joisfe/part7/config/ThreadPoolConfig.java
  joisfe/src/main/java/com/cowaine/joisfe/part7/controller/HotelController.java
  joisfe/src/main/java/com/cowaine/joisfe/part7/domain/HotelRoomEntity.java
  joisfe/src/main/java/com/cowaine/joisfe/part7/dto/HotelRequest.java
  joisfe/src/main/java/com/cowaine/joisfe/part7/dto/HotelResponse.java
  joisfe/src/main/java/com/cowaine/joisfe/part7/dto/HotelRoomResponse.java
  joisfe/src/main/java/com/cowaine/joisfe/part7/repository/HotelRoomRepository.java
  joisfe/src/main/java/com/cowaine/joisfe/part7/service/DisplayService.java
  joisfe/src/main/java/com/cowaine/joisfe/part7/service/HotelDisplayService.java
  joisfe/src/main/java/com/cowaine/joisfe/part7/service/HotelRoomDisplayService.java
  joisfe/src/main/java/com/cowaine/joisfe/part7/util/JsonUtil.java
  joisfe/src/main/resources/application-test.properties
  joisfe/src/test/java/com/cowaine/joisfe/MiscTest.java
  joisfe/src/test/java/com/cowaine/joisfe/part7/config/ThreadPoolConfigTest.java
  joisfe/src/test/java/com/cowaine/joisfe/part7/controller/ApiControllerTest01.java
  joisfe/src/test/java/com/cowaine/joisfe/part7/controller/ApiControllerTest02.java
  joisfe/src/test/java/com/cowaine/joisfe/part7/service/HotelDisplayServiceTest.java
  joisfe/src/test/java/com/cowaine/joisfe/part7/service/HotelRoomDisplayServiceTest00.java
  joisfe/src/test/java/com/cowaine/joisfe/part7/service/HotelRoomDisplayServiceTest01.java
  joisfe/src/test/java/com/cowaine/joisfe/part7/service/HotelRoomDisplayServiceTest02.java
Labels: chapter06, chapter07

#71 Chapter 7 Practice Exam Pull Request
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter5/rest/pdfController.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter7/aop/ArgumentLoggingAspect.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter7/aop/ElapseLoggable.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter7/aop/ElapseLoggingAspect.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter7/model/HotelRequest.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter7/model/HotelResponse.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter7/rest/api/HotelController.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter7/service/HotelDisplayService.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter7/service/spec/DisplayService.java
  ahngilwoong/src/main/resources/application-test.properties
  ahngilwoong/src/test/java/com/cowaine/ahngilwoong/chapter7/config/TestConfig.java
  ahngilwoong/src/test/java/com/cowaine/ahngilwoong/chapter7/service/HotelDisplayServiceTest01.java
Labels: chapter07

#72 [Feat] Chapter 7 실습코드
  crupy/src/main/java/com/cowaine/crupy/part5/controller/HotelController.java
  crupy/src/main/java/com/cowaine/crupy/part7/aspect/ArgumentLoggingAspect.java
  crupy/src/main/java/com/cowaine/crupy/part7/aspect/ElapseLoggable.java
  crupy/src/main/java/com/cowaine/crupy/part7/aspect/ElapseLoggingAspect.java
  crupy/src/main/java/com/cowaine/crupy/part7/aspect/ReturnValueLoggingAspect.java
  crupy/src/main/java/com/cowaine/crupy/part7/config/ThreadPoolConfig.java
  crupy/src/main/java/com/cowaine/crupy/part7/controller/HotelController.java
  crupy/src/main/java/com/cowaine/crupy/part7/controller/HotelRequest.java
  crupy/src/main/java/com/cowaine/crupy/part7/controller/HotelResponse.java
  crupy/src/main/java/com/cowaine/crupy/part7/controller/HotelRoomResponse.java
  crupy/src/main/java/com/cowaine/crupy/part7/entity/HotelRoomEntity.java
  crupy/src/main/java/com/cowaine/crupy/part7/repository/HotelRoomRepository.java
  crupy/src/main/java/com/cowaine/crupy/part7/service/DisplayService.java
  crupy/src/main/java/com/cowaine/crupy/part7/service/HotelDisplayService.java
  crupy/src/main/java/com/cowaine/crupy/part7/service/HotelRoomDisplayService.java
  crupy/src/main/java/com/cowaine/crupy/part7/util/JsonUtil.java
  crupy/src/main/resources/application-test.yaml
  crupy/src/main/resources/application.yaml
  crupy/src/test/java/com/cowaine/crupy/MiscTest.java
  crupy/src/test/java/com/cowaine/crupy/part7/config/TestConfig.java
  crupy/src/test/java/com/cowaine/crupy/part7/controller/ApiControllerTest01.java
  crupy/src/test/java/com/cowaine/crupy/part7/controller/ApiControllerTest02.java
  crupy/src/test/java/com/cowaine/crupy/part7/service/HotelDisplayServiceTest.java
  crupy/src/test/java/com/cowaine/crupy/part7/service/HotelRoomDisplayServiceTest01.java
  crupy/src/test/java/com/cowaine/crupy/part7/service/HotelRoomDisplayServiceTest02.java
Labels: chapter07

#73 Feature/corock
  corock/src/main/java/com/cowaine/corock/CorockApplication.java
  corock/src/main/java/com/cowaine/corock/chapter06/config/WebConfig.java
  corock/src/main/java/com/cowaine/corock/chapter06/controller/EmailController.java
  corock/src/main/java/com/cowaine/corock/chapter07/aspect/ArgumentLoggingAspect.java
  corock/src/main/java/com/cowaine/corock/chapter07/aspect/ElapseLoggable.java
  corock/src/main/java/com/cowaine/corock/chapter07/aspect/ElapseLoggingAspect.java
  corock/src/main/java/com/cowaine/corock/chapter07/aspect/ReturnValueLoggingAspect.java
  corock/src/main/java/com/cowaine/corock/chapter07/aspect/SimpleLoggingAspect.java
  corock/src/main/java/com/cowaine/corock/chapter07/config/ThreadPoolConfig.java
  corock/src/main/java/com/cowaine/corock/chapter07/controller/HotelController.java
  corock/src/main/java/com/cowaine/corock/chapter07/domain/HotelRoomEntity.java
  corock/src/main/java/com/cowaine/corock/chapter07/dto/HotelRequest.java
  corock/src/main/java/com/cowaine/corock/chapter07/dto/HotelResponse.java
  corock/src/main/java/com/cowaine/corock/chapter07/dto/HotelRoomResponse.java
  corock/src/main/java/com/cowaine/corock/chapter07/repository/HotelRoomRepository.java
  corock/src/main/java/com/cowaine/corock/chapter07/service/DisplayService.java
  corock/src/main/java/com/cowaine/corock/chapter07/service/HotelDisplayService.java
  corock/src/main/resources/application-test.yaml
  corock/src/main/resources/application.yaml
  corock/src/test/java/com/cowaine/corock/MiscTest.java
  corock/src/test/java/com/cowaine/corock/chapter07/config/TestConfig.java
  corock/src/test/java/com/cowaine/corock/chapter07/service/HotelDisplayServiceMockBeanTest.java
  corock/src/test/java/com/cowaine/corock/chapter07/service/HotelDisplayServiceSpringBootTest.java
Labels: chapter07

#74 [chap7] Aspect 실행 순서 예제 추가
  coalong/src/main/java/com/cowaine/coalong/chapter07/aspect/ArgumentLoggingAspect.java
  coalong/src/main/java/com/cowaine/coalong/chapter07/aspect/ElapseLoggable.java
  coalong/src/main/java/com/cowaine/coalong/chapter07/aspect/ElapseLoggingAspect.java
  coalong/src/main/java/com/cowaine/coalong/chapter07/aspect/ReturnValueLoggingAspect.java
  coalong/src/main/java/com/cowaine/coalong/chapter07/dto/HotelResponse.java
  coalong/src/main/java/com/cowaine/coalong/chapter07/service/HotelDisplayService.java
Labels: chapter07

#80 [Chapter 8] ~8.4
  youngju-jang/src/main/java/com/cowaine/youngjujang/ch8/etc
  youngju-jang/src/main/java/com/cowaine/youngjujang/ch8/scheme/create_table.sql
  youngju-jang/src/main/java/com/cowaine/youngjujang/ch8/scheme/domain/AbstractManageEntity.java
  youngju-jang/src/main/java/com/cowaine/youngjujang/ch8/scheme/domain/HotelEntity.java
  youngju-jang/src/main/java/com/cowaine/youngjujang/ch8/scheme/domain/HotelStatus.java
  youngju-jang/src/main/java/com/cowaine/youngjujang/ch8/scheme/domain/HotelStatusConverter.java
  youngju-jang/src/main/java/com/cowaine/youngjujang/ch8/scheme/domain/ReservationEntity.java
  youngju-jang/src/main/java/com/cowaine/youngjujang/ch8/scheme/server/UserIdHoder.java
  youngju-jang/src/main/resources/application.yaml
Labels: chapter08

#84 [Feat] Chapter 8 실습 코드
  crupy/src/main/java/com/cowaine/crupy/part8/domain/AbstractManageEntity.java
  crupy/src/main/java/com/cowaine/crupy/part8/domain/HotelEntity.java
  crupy/src/main/java/com/cowaine/crupy/part8/domain/HotelStatus.java
  crupy/src/main/java/com/cowaine/crupy/part8/domain/converter/HotelStatusConverter.java
  crupy/src/main/java/com/cowaine/crupy/part8/server/UserIdHolder.java
  crupy/src/main/resources/application.yaml
Labels: chapter08

#88 Feature/corock
  build.gradle
  corock/src/main/java/com/cowaine/corock/CorockApplication.java
  corock/src/main/java/com/cowaine/corock/chapter08/domain/AbstractManageEntity.java
  corock/src/main/java/com/cowaine/corock/chapter08/domain/HotelEntity.java
  corock/src/main/java/com/cowaine/corock/chapter08/domain/HotelStatus.java
  corock/src/main/java/com/cowaine/corock/chapter08/domain/HotelStatusConverter.java
  corock/src/main/java/com/cowaine/corock/chapter08/domain/ReservationEntity.java
  corock/src/main/java/com/cowaine/corock/chapter08/scripts/start_postgres.sh
  corock/src/main/java/com/cowaine/corock/chapter08/server/UserIdHolder.java
  corock/src/main/resources/application.yaml
Labels: chapter08

#90 [Chapter 08] JPA Practice
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter7/rest/api/HotelController.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter8/converter/HotelRoomTypeConverter.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter8/converter/HotelStatusConverter.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter8/domain/AbstractManageEntity.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter8/domain/HotelEntity.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter8/domain/HotelRoomEntity.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter8/enums/HotelRoomType.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter8/enums/HotelStatus.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter8/model/HotelCreateRequest.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter8/model/HotelCreateResponse.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter8/model/HotelResponse.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter8/server/UserIdHolder.java
  ahngilwoong/src/main/java/com/cowaine/ahngilwoong/chapter8/service/HotelAuditListener.java
  ahngilwoong/src/main/resources/application.yaml
Labels: chapter08
